
<h1>
    End of the random simulation :)
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<p>
	Everything was correct!
</p>

<p>
    <a href="/quizzes"><button>Back</button></a>
</p>

